@charset "utf-8";
/* CSS Document */

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #022446;
	color: #131a2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #131a2f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(254, 60, 82, 0.8);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 40px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.nopadding
{
	padding: 0px !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}

/*********************************
3. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content
{
	position: absolute;
	top: 46%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
}
.home_text_large
{
	font-size: 215px;
	font-weight: 900;
	color: #fdaa27;
	opacity: 0.50;
	text-transform: uppercase;
	line-height: 0.75;
}
.home_text_small
{
	position: absolute;
	top: -50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
	text-shadow: 0px 11px 51px rgba(0,0,0,0.35);
}
.home_text_small b{
    color:orangered;
}

.dwnld img{
    height: 80%;
    width: 20%;
    border: 1px black solid;
    background-color: black;
    margin-top:80px;
  left: 417px;
}

/*********************************
4. Header
*********************************/

.header
{
	display: block;
	position: fixed;
	top: 15px;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	top: 15px;
}
.header_container
{
	width: 100%;
	height: 71px;
	background: #131a2f;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_container
{
	height: 90px;
}

/*********************************
4.1 Logo
*********************************/

logo_container
{
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.logo
{
	height: 100%;
	padding-left: 100px;
}
.logo div a
{
	color: rgb(161, 184, 202);
	text-transform: uppercase;
    margin-top: 15px;
    font-style: italic;
   
}
.logo div:first-of-type
{
	font-size: 30px;
	font-weight: 500;
	line-height: 0.75;
    top:10px;
}
.logo div:nth-child(2)
{
	font-size: 13px;
	font-weight: 500;
	color:darkgray;
	letter-spacing: 0.13em;
	margin-top: 2px;
	padding-left: 2px;
    top:10px;
}
.logo_image
{
position: absolute;
	top: -10px;
	left: 41px;
	width: 50px;
	height: 41px;
   
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .logo_image
{
	width: 40px;
	top: -28px;
	left: 46px;
}
.logo_image img
{
	max-width: 100%;
     border: 1px;
    border-radius: 50%;
}

/*********************************
4.2 Navigation
*********************************/

.main_nav
{
	/*height: 100%;*/
	padding-right: 173px;
}
.main_nav_list
{
	height: 100%;
}
.main_nav_item
{
	display: inline-block;
	position: relative;
	/*padding-left: 22px;
	padding-right: 22px;*/
	margin-right: -4px;
	padding-top: 2px;
}
.main_nav_item.active::after
{
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fe435b;
	content: '';
}
.main_nav_item a
{
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 121px;
	padding-left: 22px;
	padding-right: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .main_nav_item a
{
	line-height: 90px;
}
.main_nav_item.active a
{
	color: #fe435b;
}
.main_nav_item:hover a
{
	color: #fe435b;
}

/*********************************
4.3 Search
*********************************/


/*********************************
4.4 Hamburger
*********************************/

.hamburger
{
	display: none;
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
	margin-right: 20px;
	cursor: pointer;
}
.hamburger i
{
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #fe435b;
}

/*********************************
5. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 1000;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	width: 100%;
	top:150px;
	left: 0;
	padding-left: 15%;
	padding-right: 79px;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
	margin-top: 30px;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #fe435b;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #fe435b;
}
.menu_search_form
{
	position: relative;
}
.menu_search_input
{
	width: 100%;
	height: 50px;
	border: solid 2px rgba(19,26,47,0.5);
	outline: none;
	padding-left: 15px;
}
.footer{
    height: 100%;
}
.menu_search_submit
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	right: 0px;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
.menu_search_submit img
{
	max-width: 100%;
}

/*********************************
5.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #fe435b;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.popular_option{
   margin-bottom: 10px;
    height: 300px;
    width: 100%;
}
.popular_option li{
    display: inline-block;
}
.popular_option img {
    height: 300px;
    width: 30%;
}
.ds1{
    
    margin-left: 280px;
    top: -300px;
    height: 300px;
        width: 856px;
    background-color:#4161ce;
    color: white;
}
/* .ds2{
    
    margin-left: 280px;
    top: -300px;
    height: 300px;
        width: 856px;
    background-color:#ff9000;
    color:white;
} */
.ds3{
    
    margin-left: 280px;
    top: -300px;
    height: 300px;
        width: 856px;
    background-color: #4ed18f;
    color:white;
}
.ds4{
    
    margin-left: 280px;
    top: -300px;
    height: 300px;
       width: 856px;
    background-color: #ff9000;
    color:white;
}

   
.td{
    font-size: 60px;
    
}
.td2{
    font-size: 40px;
}


.ds1 .btn {
    margin-top:4px;
    color:white;
   height:50px;
    min-width: 175px;
    background-color: rgba(0,0,0,.3);
}
.ds2 .btn {
    margin-top:4px;
    color:white;
   height:50px;
    min-width: 175px;
    background-color: rgba(0,0,0,.3);
}
.ds3 .btn {
    margin-top:4px;
    color:white;
    height:50px;
    min-width: 175px;
    background-color: rgba(0,0,0,.3);
}
.ds4 .btn {
    margin-top:4px;
    color:white;
    height:50px;
    min-width: 175px;
    background-color: rgba(0,0,0,.3);
}
@media (max-width: 767px)
.description.btn {
    color: #fff5;
    background-color: #E63232;
    border-color: #e31c1c;
}
/*********************************
6. Find
*********************************/


/*********************************
7. Top Destinations
*********************************/

.top
{
	width: 100%;
	
	padding-bottom: 106px;
}
.section_title
{
	padding-top: 111px;
	line-height: 1.1;
}
.section_title h2
{
	font-weight: 300;
	color: #131a2f;
}
.section_title div
{
	font-size: 16px;
	font-weight: 400;
	color: #7d8293;
	text-transform: uppercase;
	margin-top: 19px;
}
.top_content
{
	margin-top: 82px;
}

.top_item
{
	width: 100%;
}
.top_item a
{
	display: block;
}
.top_item_image img
{
	max-width: 100%;
   height: 200px;
}
.top_item_content
{
	position: absolute;
	left: 33px;
	bottom: 29px;
}
.top_item_price
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.top_item_text
{
	font-size: 20px;
	font-weight: 400;
	color: #FFFFFF;
	margin-top: 2px;
}

/*********************************
8. Last Minute Offer
*********************************/

.last
{
	width: 100%;
	padding-top: 37px;
	padding-bottom: 64px;
}
.last_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.last_item
{
	padding-right: 41px;
}
.last_col:last-child .last_item
{
	padding-left: 41px;
	padding-right: 0px;
}
.last_item_content
{
	background: rgba(254, 64, 91, 0.79);
	padding-top: 53px;
	padding-bottom: 35px;
	color: #FFFFFF;
	text-align: center;
	padding-left: 90px;
	padding-right: 80px;
}
.last_subtitle
{
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: left;
}
.last_percent
{
	font-size: 160px;
	font-weight: 100;
	line-height: 0.75;
	margin-top: 14px;
	text-align: left;
}
.last_title
{
	font-size: 40px;
	font-weight: 300;
	text-align: left;
	margin-top: 7px;
	line-height: 1.1;
}
.last_text
{
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 2.14;
	margin-top: 15px;
}
.button
{
	display: inline-block;
	width: 161px;
	height: 56px;
	background: #131a2f;
}
.button a
{
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 500;
	line-height: 56px;
}
.last_button
{
	margin-top: 37px;
}
.last_logo
{
	position: absolute;
	top: -51px;
    left: -70px;
	z-index: 10;
	width: 156px;
	height: 151px;
}
.last_logo img
{
	max-width: 100%;
}

/*********************************
9. Video
*********************************/

.video_section
{
	padding-top: 144px;
	padding-bottom: 198px;
}
.video_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video_content
{
	width: auto;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.video_title
{
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
}
.video_subtitle
{
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
	margin-top: 3px;
}
.video_play
{
	margin: 0 auto;
	margin-top: 43px;
}
.video
{
	outline: none;
}
.play_button
{
	cursor: pointer;
}
.play_circle
{
	fill: rgba(255, 255, 255, 0);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.play_button:hover .play_circle
{
	fill: rgba(255, 255, 255, 0.15);
}

/*********************************
10. Popular
*********************************/

.popular
{
	width: 100%;
	
}
.popular_content
{
	width: 100%;
	margin-top: 82px;
   
}
.popular_item
{
	width: calc((100% - 90px) / 4);
	margin-bottom: 26px;
}
.popular_item:nth-last-child(-n+4)
{
	margin-bottom: 0px;
}
.popular_item a
{
	display: block;
}
.popular_item img
{
	max-width: 100%;
     height: 200px;
}
.popular_item_content
{
	position: absolute;
	left: 28px;
	bottom: 27px;
	z-index: 10;
}
.popular_item_price
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.popular_item_title
{
	font-size: 20px;
	font-weight: 400;
	color: #FFFFFF;
}

/*********************************
11. Special Offers
*********************************/

.special
{
	padding-bottom: 6px;
	background: #FFFFFF;
}
.special_content
{
	margin-top: 76px;
}
.special_item_content
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
}
.special_category
{
	font-size: 24px;
	font-weight: 300;
	color: #FFFFFF;
}
.special_title a
{
	font-size: 36px;
	font-weight: 300;
	color: #FFFFFF;
}
.special_item_background
{
	width: 100%;
}
special_item_background img{
    max-width: 100%;
    height: 500px;
}
.special .owl-item .special_item_background::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(254, 67, 91, 0);
	content: '';
	z-index: 0;
	-webkit-transition: all 500ms 100ms ease;
	-moz-transition: all 500ms 100ms ease;
	-ms-transition: all 500ms 100ms ease;
	-o-transition: all 500ms 100ms ease;
	transition: all 500ms 100ms ease;
}
.special .owl-item.center .special_item_background::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(254, 67, 91, 0.83);
	content: '';
	z-index: 0;
	-webkit-transition: all 500ms 100ms ease;
	-moz-transition: all 500ms 100ms ease;
	-ms-transition: all 500ms 100ms ease;
	-o-transition: all 500ms 100ms ease;
	transition: all 500ms 100ms ease;
}
.special_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	width: 90px;
	height: 90px;
	background: #fe3c52;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	z-index: 10;
}
.special_slider_nav:hover
{
	opacity: 0.8;
}

/*********************************
12. Newsletter
*********************************/

.newsletter
{
	padding-top: 108px;
	padding-bottom: 113px;
}
.newsletter_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.newsletter_title
{
	font-size: 40px;
	font-weight: 300;
	color: #FFFFFF;
	line-height: 1.1;
}
.newsletter_form_container
{
	margin-top: 53px;
}
.newsletter_input
{
	width: calc(100% - 180px);
	height: 56px;
	border: solid 2px rgba(255,255,255,0.5);
	outline: none;
	background: transparent;
	padding-left: 31px;
	color: #FFFFFF;
}
.newsletter_button
{
	width: 161px;
	height: 56px;
	vertical-align: top;
	cursor: pointer;
	border: none;
	outline: none;
	background: crimson;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button:hover
{
	opacity: 0.8;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}

/* /*
Sign up
/* */
body{
	/* margin: 0;
	padding: 0;
	background: #487eb0; */
	min-height: 100vh;
	/* background-image: linear-gradient(120deg,#3498db,#8e44ad); */
	background-image: linear-gradient(#001f3f)
  }
  .signup-form{
	/* width: 300px;
	padding: 20px;
	text-align: center;
	background: url(bg.png);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden; */
	width: 360px;
	background: #f1f1f1;
	height: 580px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  }
  .signup-form h1{
	/* margin-top: 100px;
	font-family: 'Permanent Marker', cursive;
	color: #fff;
	font-size: 40px; */
	text-align: center;
	margin-bottom: 60px;
  }
  .signup-form input{
	font-size: 15px;
	color: #333;
	display: block;
	width: 100%;
	padding: 0 16px;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	border: none;
	background: none;
	font-family: "montserrat",sans-serif;
	padding: 0 5px;
	height: 40px;

	/* font-size: 15px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px; */
  }
  .txtb{
	/* margin: 20px 0;
	background: rgba(255,255,255,.5);
	border-radius: 6px; */

	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;
  }
  .signup-btn{
	/* margin-top: 60px;
	margin-bottom: 20px;
	background: #487eb0;
	color: #fff;
	border-radius: 44px;
	cursor: pointer;
	transition: 0.8s; */
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
  }
  .signup-btn:hover{
	/* transform: scale(0.96);*/
	background-position: right;
  }
  .signup-form a{
	text-decoration: none;
	color: #fff;
	font-family: "montserrat",sans-serif;
	font-size: 14px;
	padding: 10px;
	transition: 0.8s;
	display: block;
  }
  .signup-form a:hover{
	background: rgba(0,0,0,.3);
  } 
  /****************
  		Login
  ****************/
  
  *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: montserrat;
	box-sizing: border-box;
  }
  
  body{
	min-height: 100vh;
	/* background-image: linear-gradient(120deg,#3498db,#8e44ad); */
	background-image: linear-gradient(#001f3f)
  }
  
  .login-form{
	width: 360px;
	background: #f1f1f1;
	height: 580px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  }
  
  .login-form h1{
	text-align: center;
	margin-bottom: 60px;
  }
  
  .txtb{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;
  }
  
  .txtb input{
	font-size: 15px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
  }
  
  .txtb span::before{
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
  }
  
  .txtb span::after{
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	background: linear-gradient(120deg,#96c1df,#8e44ad);
	transition: .5s;
  }
  
  .focus + span::before{
	top: -5px;
  }
  .focus + span::after{
	width: 100%;
  }
  
  .logbtn{
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
  }
  
  .logbtn:hover{
	background-position: right;
  }
  
  .bottom-text{
	margin-top: 60px;
	text-align: center;
	font-size: 13px;
  }
/*********************************
13. Footer
*********************************/

.footer
{
	width: 100%;
	background: #080d1d;
	padding-top: 79px;
	padding-bottom: 79px;
}
.footer_about
{
	width: 100%;
}
.footer .logo
{
	padding-left: 32px;
}
.footer .logo_image
{
	left: 0;
}
.footer .logo_imag img
{
    border:1px;
    border-style: solid;
    border-radius: 50%;
}
.footer .logo_imag img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.footer_about_text
{
	font-size: 16px;
	font-weight: 300;
	line-height: 2.5;
	color: #e2f0f1;
	margin-top: 35px;
}
.copyright
{
	font-size: 14px;
	font-weight: 300;
	line-height: 2.5;
	color: #e5e8f1;
	margin-top: 39px;
}
.footer_latest
{
	width: 100%;
}
.footer_title
{
	font-size: 24px;
	font-weight: 300;
	color: #FFFFFF;
    left: 15px;
}
.footer_latest_item
{
	margin-bottom: 27px;
}
.footer_latest_item:last-child
{
	margin-bottom: 0;
}
.footer_latest_content
{
	margin-top: 33px;
}
.footer_latest_image
{
	display: inline-block;
	width: 78px;
	height: 78px;
}
.footer_latest_image img
{
	max-width: 100%;
}
.footer_latest_item_content
{
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
	padding-left: 19px;
}
.footer_latest_item_title a
{
	font-size: 16px;
	font-weight: 300;
	color: #7d8293;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_latest_item_title a:hover
{
	color: #fe3c52;
}
.footer_latest_item_date
{
	font-size: 12px;
	font-weight: 300;
	color: #fe3c52;
	margin-top: 10px;
}
      
.footer_latest{
    left:100px;
}

/*Pen code from this point on*/

.btn a {
    clear: both;
    white-space: nowrap;
    font-size: .8em;
    display:table-row;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin: 2px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
	overflow: hidden;
	font-size: 1.08em;
	font-family: 'Lora','serif'
  
}

.btn:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
    float: left;
    padding: 13px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    line-height: 1em
}

.btn > span {
    padding: 14px 18px 16px;
    white-space: nowrap;
    color: #FFF;
    background: #b8b8b8
}

.btn:focus > span {
    background: #9a9a9a
}

.btn-icon > i {
    border-radius: 5px 0 0 5px;
    position: relative;
    width: 13px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #212121
}

.btn-icon > i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 13px;
    right: -15px
}

.btn-icon:hover > i,
.btn-icon:focus > i {
    color: #FFF
}

.btn-icon > span {
    border-radius: 0 5px 5px 0
}


/*Facebook*/

.btn-facebook:hover > i,
.btn-facebook:focus > i {
    color: #3b5998
}

.btn-facebook > span {
    background: #3b5998
}


/*Twitter*/

.btn-twitter:hover > i,
.btn-twitter:focus > i {
    color: #55acee
}

.btn-twitter > span {
    background: #55acee
}


/*Google*/

.btn-googleplus:hover > i,
.btn-googleplus:focus > i {
    color: #dd4b39
}

.btn-googleplus > span {
    background: #dd4b39
}


/*Pinterest*/

.btn-pinterest:hover > i,
.btn-pinterest:focus > i {
    color: #cb2028
}

.btn-pinterest > span {
    background: #cb2028
}


/*LinkedIn*/

.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
    color: #007bb6
}

.btn-linkedin > span {
    background: #007bb6
}
